:root.theme-light {
  --accent-color: #FF8DCB;
  --title-text-color: #FFC2E6;
  --title-decor-color: #353430;
  --bg-color: #FFF1F7;
  --footer-title-shadow: #FF0070;
  --main-card-title-text-color: #353430;
  --title-decor-font-weight: 700;
  --title-decor-line-height: 23.4px;
  --title-decor-font-size: 18px;
  --accent-font: 'IBM Plex Mono', sans-serif;
  --background-image: url("../images/cover-image-light.png");
  --main-recomendation-color: #353430;
  --main-recomendation-font-weight: 400;
  --heading-margin: 20px 0 10px;
  --title-margin: 50px 0 20px;
  --main-title-margin-bottom: 20px;
  --light-theme-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --accent-color: #FF8DCB;
    --title-text-color: #FFC2E6;
    --title-decor-color: #353430;
    --bg-color: #FFF1F7;
    --footer-title-shadow: #FF0070;
    --main-card-title-text-color: #353430;
    --title-decor-font-weight: 700;
    --title-decor-line-height: 23.4px;
    --title-decor-font-size: 18px;
    --accent-font: 'IBM Plex Mono', sans-serif;
    --background-image: url("../images/cover-image-light.png");
    --main-recomendation-color: #353430;
    --main-recomendation-font-weight: 400;
    --heading-margin: 20px 0 10px;
    --title-margin: 50px 0 20px;
    --main-title-margin-bottom: 20px;
    --light-theme-text-color: #353430;
  }

  .theme-auto .rec-decorative {
    display: none;
  }
  
}

