.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 375px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-style: solid solid none none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-style: none none solid solid;
}


.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  color: var(--accent-color);
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--accent-font);
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 2px 13px 4px;
}

.header__theme-menu-button:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border-bottom: 0.5px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}


.rec-decorative {
  position: absolute;
  color: var(--accent-color);
  width: 33px;
  height: 26px;
  top: 10px;
  right: 38px;
  font-family: var(--accent-font);
  line-height: 25px;
  text-align: center;
}

.rec-decorative::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title-main-text {
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--accent-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
}

.title-decor {
  color: var(--title-decor-color);
  font-family: var(--accent-font);
  background-color: var(--accent-color);
  font-weight: var(--title-decor-font-weight);
  line-height: var(--title-decor-line-height);
  font-size: var(--title-decor-font-size);
  align-self: center;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main-card-title {
  font-family: var(--accent-font);
  font-size: var(--title-decor-font-size);
  color: var(--main-card-title-text-color);
  font-weight: var(--title-decor-font-weight);
  margin-bottom: var(--main-title-margin-bottom);
}

.main-card-heading {
  font-family: var(--accent-font);
  color: var(--title-decor-color);
  font-size: var(--title-decor-font-size);
  line-height: var(--title-decor-line-height);
  background-color: var(--accent-color);
  margin: var(--heading-margin)
}

.main-card-text {
  font-family: var(--accent-font);
  color: var(--main-recomendation-color);
  font-size: var(--title-decor-font-size);
  font-weight: var(--main-recomendation-font-weight);
  line-height: var(--title-decor-line-height);
}

.main-card-recomendation-title {
  font-family: var(--accent-font);
  font-size: var(--title-decor-font-size);
  font-weight: var(--main-recomendation-font-weight);
  color: var(--title-decor-color);
  background-color: var(--accent-color);
  margin: var(--heading-margin);
}

.link-decoration {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link-decoration:hover {
  text-decoration: underline;
}

.link-decoration:focus-visible {
  outline: none;
  border: 1px solid var(--main-recomendation-color);
}

.in-picture {
  margin-top: 3px;
  margin-bottom: 1px;
}

.main-image-item {
  inline-size: 100%;
}

.main-images {
  display: grid;
  gap: 10px;
}

.footer {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 375px;
}

.footer-decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-style: solid solid none none;
}

.footer-decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-style: none none solid solid;
}

.footer-title {
  display: block;
  font-family: var(--accent-font);
  font-size: 116px;
  font-weight: var(--title-decor-font-weight);
  color: var(--title-text-color);
  text-align: center;
  text-shadow: 2px 2px 0 var(--footer-title-shadow);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__title-main-text {
    margin-left: -20px;
  }

  .title-decor {
    justify-self: end;
    inline-size: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px
  }

  .rec-decorative {
    top: 20px;
    right: 50px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .hard-focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: start;
    align-items: start;
  }

  .main-card-title {
    grid-row: 1 / 3;
  }

  .main-card-heading {
    margin: 0 0 10px;
  }

  .low-concentration {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
  }

  .main-card-title-low-concentration {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 25%;
    grid-row: 1;
    margin: 0;
  }

  .main-card-list-item-Multitasking {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main-card-list-item-meal {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main-card-list-item-device {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .recomedation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5;
    column-gap: 20px;
    object-fit: fill;
    
  }

  .main-card-title-how {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .main-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4;
    gap: 20px;
  }

  .in-picture {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
  }

  .main-image-item-sunset {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main-image-item-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    height: 100%;
    object-fit: cover;
  }

  .main-image-item-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    height: 100%;
    object-fit: cover;
  }

  .main-image-item-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .main-image-item-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer-decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .footer-decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  
  .footer-title {
    font-size: 120px;
    line-height: 99px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 
  }

  .header__title-main-text {
    font-size: 157px;
    line-height: 129.53px;
  }

  .rec-decorative {
    right: 48px;
  }

  .hard-focus {
    column-gap: 10px;
  }

  .low-concentration {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
  }

  .main-card-title-low-concentration {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 33%;
  }

  .main-card-list-item-Multitasking {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main-card-list-item-meal {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main-card-list-item-device {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .recomedation {
    column-gap: 12px;
  }

  .footer-title {
    font-size: 157px;
    line-height: 129.53px;
  }
}