:root {
  --accent-color: #FF0070;
  --title-text-color: #DB00FF;
  --title-decor-color: #000028;
  --header-theme-main-color: #FF0070;
  --header-theme-opacity-color: rgba(255, 0, 112, 0.4);
  --bg-color-dark: #000028;
  --footer-title-shadow: #FF0070;
  --main-card-title-text-color: #FF0070;
  --title-decor-font-weight: 700;
  --title-decor-line-height: 23.4px;
  --title-decor-font-size: 18px;
  --accent-font: 'IBM Plex Mono', sans-serif;
  --background-image: url("../images/cover-image-dark.png");
  --main-recomendation-color: #F1B2CE;
  --main-recomendation-font-weight: 400;
  --heading-margin: 20px 0 10px;
  --title-margin: 50px 0 20px;
  --main-title-margin-bottom: 20px;
  --rec-display: block;
}